server:
  port: 8080
#防止8080和8081冲突

spring:

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://47.103.113.75:3306/sc?useUnicode=true & characterEncoding=utf-8 & allowPublicKeyRetrieval=true&useSSL=false & serverTimezone=Asia/Shanghai
    username: root
    password: 123abc
    #云服务器要去mysql更新权限
    #服务器与数据库大坑 如果你用编译器连接数据库，定义UTC，MySQL以本地时区进行转换会导致，执行时间比编译器执行时间早8个小时
    #建议用 serverTimezone=Asia/Shanghai   不用UTC
  mvc:
    format:
      date: yyyy-MM-dd HH:mm:ss
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB #配置文件上传属性


#我们可以直接在配置文件中统一配置时间格式
  freemarker:
    cache: false

  web:
    resources:
      static-locations: file:www/wwwroot/ , classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/,classpath:/public/
#服务器的静态资源访问配置   其实默认放在resources/static下即可  通过ip地址:端口 访问

# redis配置  如果不写 自动默认配置   如果服务器或者本地没有redis数据库 需要改动很多源文件
  redis:
  #url: redis://user:password@127.0.0.1:6379 #该地址配置以后会重置host,port,password的规则。
    host: 47.103.113.75
    # 在同机器上连接同机器的redis  建议写成localhost
    port: 6379
    password: redis    # 自定义密码
  # 连接池最大连接数（使用负值表示没有限制）
    lettuce:
      pool:
        max-active: -1
        max-wait: 10
        min-idle: 0
  # 连接池最大阻塞等待时间（使用负值表示没有限制）
  # 连接池中的最大空闲连接
  # 连接池中的最小空闲连接
  # 连接超时时间（毫秒）

web:
  uploadPath: /www/wwwroot/ # Win: D:/IdeaProjects/forum/images/


#showSql
# mybatis-plus配置
mybatis-plus:
  configuration:
    # 是否开启自动驼峰命名规则（camel case）映射，即从经典数据库列名 A_COLUMN（下划线命名） 到经典 Java 属性名 aColumn（驼峰命名） 的类似映射
    map-underscore-to-camel-case: false
    # 这个配置会将执行的sql打印出来，在开发或测试的时候可以用
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  #MyBaits 别名包扫描路径，通过该属性可以给包中的类注册别名   #这个是扫描到Entity实体包的路径，可根据自己的配置
  type-aliases-package: com.example.hou.entity
  #xml扫描，多个目录用逗号或者分号分隔（告诉 Mapper 所对应的 XML 文件位置）
  mapperLocations: classpath*:mapper/**Mapper.xml
#尤其注意这个路径问题啊啊啊啊啊啊啊

 #jwt 暂时不自定义配置

